meta-patch
meta-hdmi
meta-dev
meta-dev-module
meta-ivi
meta-commercial
meta-hud
meta-sdr
meta-slt
meta-cluster
meta-dvrs
meta-svm
meta-drmradio
meta-hdradio
meta-dabradio
meta-subcore
meta-hypervisor
meta-hypervisorless
meta-wifi
meta-update
meta-security
meta-isdbt
meta-tdm
als-patch
*.pyc
*.pyo
*.swp
!meta-core/recipes-graphics/telechips-egl/*/*.tar.*
!meta-core/recipes-kernel/gator/gator-daemon/gator_*.tar.gz
lib*.so*
!meta-subcore/recipes-graphics/telechips-egl/telechips-egl/libMali.so
!meta-core/recipes-core/glibc/ldconfig-native-2.12.1/ldconfig-native-2.12.1.tar.bz2
!meta-core/recipes-graphics/ttf-fonts/ttf-nanum-barun-gothic-font/nanum-barun-gothic.tar.gz
!meta-core/recipes-graphics/ttf-fonts/ttf-nanum-font/nanum-barun-gothic.tar.gz
